<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppUnderTestURL.JSONPlaceHolder" value="https://jsonplaceholder.typicode.com/"/>
		<add key="AppUnderTestURL.someUrl" value="https://google.com"/>
		<add key="AppUnderTestURL.someUrl" value="https://google.com"/>
		<add key="AppUnderTestURL.anotherOne" value="https://vertexinc.com"/>
	</appSettings>
</configuration>